/* -----------------mobile--------------------- */
.header {
    position: fixed;
    display: flex;
    top: 0;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    z-index: 10;
    padding: var(--page-padding-x);
    background-color: var(--main-background-color);
    max-width: 1440px;
}

.header__logo {
    position: relative;
}

.header__logo::after {
    content: '';
    background-color: #EAEAEA;
    width: 2px;
    height: 32px;
    position: absolute;
    left: 113px;
    top: 13px;
}

.header__left-side {
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: var(--buttons-column-gap);
}

.header__tablet-buttons {
    display: flex;
    column-gap: var(--buttons-column-gap);
}

/* скрываем ненужные кнопки в mobile */

.header__common-buttons {
    display: none;
}

.button-icon--user {
    display: none;
}

/* ---------------------tablet -------------------- */

@media (min-width: 768px) {

    .header__common-buttons {
        display: block;
    }

    .button-icon--user {
        display: block;
    }

    .header__button-desc {
        display: none;
    }

    /* стилизация правого блока кнопок */

    .header__common-buttons {
        display: flex;
        column-gap: var(--buttons-column-gap);
        align-items: center;
    }

    .header__right-side {
        display: flex;
        column-gap: var(--buttons-column-gap);
        align-items: center;
    }

    /* ровняем врапперы */
    .header__button-wrapper {
        display: flex;
        align-items: center;
    }

    /* добавление псевдоэлемента разделителя */

    .header__common-buttons::before {
        content: '';
        background-color: #EAEAEA;
        width: 2px;
        height: 32px;
    }
}

/* -------------десктоп-------------- */

@media (min-width: 1440px) {
    /* убираем ненужные кнопки */

    .header__left-side,
    .header__tablet-buttons,
    .header__common-buttons::before {
        display: none;
    }

    /* перемещаем все вправо */
    .header {
        padding-top: 24px;
        justify-content: flex-end;
        background-color: transparent;
        position: absolute;
    }

    .header__common-buttons,
    .header__button-wrapper,
    .header__button-desc {
        display: flex;
        column-gap: var(--buttons-column-gap);
    }

    .header__common-buttons {
        column-gap: 32px;
    }

}