.prices {
  &__container {
    margin: 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    column-gap: 16px;
    row-gap: 16px;
    margin-bottom: 24px;

    @media (min-width: 768px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__list {
    display: flex;
    align-items: center;
    column-gap: 16px;
    overflow-y: hidden;

    @media (min-width: 768px) {
      display: grid;
      width: 100%;
    }
  }

  &__item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #fff;
    padding: 16px;
    min-width: 260px;
    position: relative;
    border-radius: 6px;
    height: 240px;

    @media (min-width: 768px) {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      white-space: nowrap;
      height: auto;

      &::before {
        content: '';
        background-color: #EAEAEA;
        width: 95%;
        height: 2px;
        position: absolute;
        left: 25px;
        top: 65px;
      }

      &:last-child::before {
        content: none;
      }
    }
  }

  &__item-title {
    color: #7E7E82;

    &:not(:first-child) {
      margin-top: 20px;
    }

    @media (min-width: 768px) {
      display: none;
    }
  }

  &__item-time {
    @media (min-width: 768px) {
      position: absolute;
      right: 20%;
      width: 97px;
    }
  }

  &__item-price {
    @media (min-width: 768px) {
      position: absolute;
      right: 34%;
      width: 80px;
    }
  }

  &__tablet {
    display: none;

    @media (min-width: 768px) {
      display: flex;
      width: 100%;
    }
  }

  &__tablet--list {
    @media (min-width: 768px) {
      display: flex;
      justify-content: space-between;
      color: #7E7E82;
      gap: 50px;
      width: 100%;
      padding: 0 16px;
      position: relative;
    }
  }

  &__tablet--title {
    @media (min-width: 768px) {
      &:last-child {
        position: absolute;
        right: 25%;
      }

      &:nth-child(2) {
        position: absolute;
        right: 38%;
      }
    }
  }
}

.prices-button {
  width: 120px;
  height: 35px;
  position: absolute;
  top: 180px;
  left: 125px;
  border-radius: 16px;
  border: none;
  font-weight: bold;
  background-color: #FF3E79;
  color: #fff;
  letter-spacing: -0.15px;

  @media (min-width: 768px) {
    display: block;
    top: 0;
    left: 0;
    position: relative;
  }
}

.disclaimer {
  width: 320px;
  padding: $mobile-margin-x;
  font-weight: 200;

  @media (min-width: 768px) {
    width: 420px;
  }
}

.commerce-link {
  padding: $mobile-margin-x;
  font-weight: 600;
  position: relative;
  width: 320px;

  &::after {
    content: url(../../icons/commerce.svg);
    position: absolute;
    top: 44px;
    left: 130px;

    @media (min-width: 768px) {
      top: 20px;
      left: 330px;
    }
  }

  @media (min-width: 768px) {
    width: auto;
  }
}