@font-face {
    font-family: "TTLakes-Medium";
    src: url(./TTLakes-Medium.woff2);
}

@font-face {
    font-family: "TTLakes-Bold";
    src: url(./TTLakesCondensed-Bold.woff2);
}

@font-face {
    font-family: "TTLakes-Reg";
    src: url(./TTLakesRegular.woff2);
}