// colors
$main-pink: #FF3E79;
$main-text-color: #1B1C21;
$secondary-text-color: #7E7E82;
$lasurite-color: #41F6D7;
$secondary-color: #fff;
$body-main-color: #f8f8f8;

// settings
$mobile-margin-x: 16px;
$mobile-margin-y: 24px;
$buttons-column-gap: 16px;